main {
  background: #f4f4f4;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: #fff;
}

.search-box form {
  display: flex;
}

.search-box input {
  width: 300px;
  height: 36px;
  line-height: 36px;
  border: 2px solid #2973fe;
  border-radius: 0;
  outline: 0;
  padding: 0 10px;
  font-size: 18px;
}

.search-box input:focus {
  border-radius: 0;
  border: 2px solid #015aff;
}

.search-box input:focus ~ button {
  background: #015aff;
}

.search-box button {
  height: 36px;
  border-radius: 0;
  background: #2973fe;
  color: #fff;
  border: 0;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1084px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
}

.goods-list article {
  flex: 1;
  min-width: 200px;
  width: 375px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #ccc;
  margin: 10px;
  background: #fff;
}

.goods-list article:hover {
  background: #fafafa;
  box-shadow: 2px 2px 2px #999;
}

.goods-list article:hover img {
  background: #fafafa;
  box-shadow: 2px 2px 2px #999;
  opacity: 1;
}

.goods-list article a {
  color: #777;
  text-decoration: none;
}

.goods-list .goods-img-wrap {
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  position: relative;
}

.goods-list .goods-img-wrap img {
  width: 100%;
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
}

.goods-list .goods-info {
  padding: 14px;
  line-height: 22px;
}

.goods-list .goods-title {
  font-size: 16px;
  height: 20px;
  margin-bottom: 6px;
  color: #000;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
