.screen-main {
  max-width: 1064px;
  padding: 20px;
  margin: 0 auto;
}

.screen-wrap {
  display: flex;
}

.screen-title {
  font-size: 28px;
  font-weight: 400;
  margin: 15px 0;
}

.screen-box {
  flex: 1;
  border-top: 1px solid #000;
  display: flex;
  flex-direction: column;
}

/* 좌석선택 해더 부분 */
.screen-header {
  margin-top: 10px;
}

.screen-header h2 {
  font-size: 18px;
  font-weight: 400;
  float: left;
  margin: 0;
}

.screen-header-button::after {
  clear: both;
  content: "";
  display: table;
}

.refresh-btn {
  width: 80px;
  height: 30px;
  background: #fff;
  padding: 0 10px;
  outline: 0;
  border: 1px solid #999;
  float: right;
  font-size: 14px;
  cursor: pointer;
}

.refresh-btn:hover {
  background: #ccc;
}

.refresh-btn .material-icons {
  font-size: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.select-number-box {
  height: 53px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.select-number {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.select-number span {
  font-size: 14px;
  font-weight: 300;
}

.select-number .minus-btn {
  width: 32px;
  height: 32px;
  font-size: 15px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  border: 1px solid #999;
  margin-left: 5px;
  outline: 0;
  cursor: pointer;
}

.select-number input {
  height: 32px;
  border: 1px solid #999;
  width: 42px;
  padding: 0 5px;
  margin-left: -1px;
  outline: 0;
}

.select-number .plus-btn {
  width: 32px;
  height: 32px;
  font-size: 15px;
  border-radius: 0 5px 5px 0;
  background: #fff;
  border: 1px solid #999;
  margin-left: -1px;
  outline: 0;
  cursor: pointer;
}

.screen-seat-box {
  border: 1px solid #ccc;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
/* 좌석  */
.screen-seat-box .row {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.screen-seat-box .seat-title {
  width: 20px;
  height: 20px;
  line-height: 18px;
  flex: none;
  border: 1px solid #999;
  text-align: center;
  margin-right: 15px;
}

.screen-seat-box .seats {
  display: flex;
}

.screen-seat-box .seats button {
  width: 20px;
  height: 20px;
  border: 0;
  background: #555;
  outline: 0;
  margin: 0;
  padding: 0;
  border-right: 1px solid #fff;
  margin-right: 5px;
  cursor: pointer;
}

.screen-seat-box .seats button.selected {
  background: #015aff;
}

.screen-seat-box .seats button:hover {
  background: #7eb6f9;
}

/* 선택 결과 창  */
.selected-box {
  width: 310px;
  margin-left: 20px;
  background: #333;
  color: #fff;
  font-size: 15px;
  border-radius: 10px;
  padding-top: 15px;
  overflow: hidden;
}

.selected-event {
  margin: 0 20px;
  border-bottom: 1px solid #434343;
  position: relative;
  padding-left: 28px;
}

.selected-event .age-badge {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: orange;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
}

.selected-event .event-title {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
}

.selected-event .event-type {
  padding: 3px 0 10px;
  color: #aaa;
  font-size: 15px;
  font-weight: 300;
}

.selected-event-detail {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid #434343;
}

.selected-event-detail ul {
  flex: 1;
  color: #c4c4c4;
  font-size: 13px;
  font-weight: 400;
}

.selected-event-detail ul li {
  padding: 2px 0;
}

.selected-seat {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid #434343;
  border-radius: 5px;
}

.selected-seat h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #c4c4c4;
  margin: 0 0 1     0px 0;
}

.selected-seat div {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 10px 10px 0 0;
  border: 1px solid #434343;
  line-height: 38px;
  text-align: center;
}

.selected-seat div.selected {
  background: #015aff;
}

.selected-account {
  margin: 20px;
}

.selected-account-count {
  font-size: 13px;
  line-height: 13px;
  color: #c4c4c4;
  margin-bottom: 10px;
}

.selected-account-total {
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

.selected-account-total > span {
  float: right;
}
.selected-account-total .number {
  font-size: 20px;
  line-height: 20px;
  color: #4182f9;
  margin-right: 3px;
}

.button-box {
  display: flex;
}

.button-box a {
  display: inline-flex;
  flex: 1;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.button-box a:first-child {
  color: #fff;
  background: #53565b;
}

.button-box a:last-child {
  color: #fff;
  background: #015aff;
}
